In [1]:
# K-Nearest Neighbors (K-NN)

# Importing the dataset
dataset = read.csv('Social_Network_Ads.csv')
dataset = dataset[3:5]

In [2]:

# Encoding the target feature as factor
dataset$Purchased = factor(dataset$Purchased, levels = c(0, 1))

# Splitting the dataset into the Training set and Test set
# install.packages('caTools')
library(caTools)
set.seed(123)
split = sample.split(dataset$Purchased, SplitRatio = 0.75)
training_set = subset(dataset, split == TRUE)
test_set = subset(dataset, split == FALSE)

In [4]:
head(training_set)

   Age EstimatedSalary Purchased
1  19   19000          0
3  26   43000          0
6  27   58000          0
7  27   84000          0
8  32  150000          1
10 35   65000          0

In [5]:
head(test_set)

   Age EstimatedSalary Purchased
2  35  20000           0
4  27  57000           0
5  19  76000           0
9  25  33000           0
12 26  52000           0
18 45  26000           1

In [6]:
# Feature Scaling
training_set[-3] = scale(training_set[-3])
test_set[-3] = scale(test_set[-3])

In [7]:
head(training_set)

   Age        EstimatedSalary Purchased
1  -1.7655475 -1.4733414      0
3  -1.0962966 -0.7883761      0
6  -1.0006894 -0.3602727      0
7  -1.0006894  0.3817730      0
8  -0.5226531  2.2654277      1
10 -0.2358313 -0.1604912      0

In [8]:
head(test_set)

   Age        EstimatedSalary Purchased
2  -0.3041906 -1.5135434      0
4  -1.0599437 -0.3245603      0
5  -1.8156969  0.2859986      0
9  -1.2488820 -1.0957926      0
12 -1.1544129 -0.4852337      0
18  0.6405008 -1.3207353      1

In [15]:
# Fitting K-NN to the Training set and Predicting the Test set results
library(class)
y_pred = knn(train = training_set[, -3],
             test = test_set[, -3],
             cl = training_set[, 3],
             k = 5,
             prob = TRUE)

# Making the Confusion Matrix
cm = table(test_set[, 3], y_pred)

In [10]:
cm

   y_pred
     0  1
  0 59  5
  1  6 30

In [12]:

# Visualising the Training set results
library(ElemStatLearn)
set = training_set
X1 = seq(min(set[, 1]) - 1, max(set[, 1]) + 1, by = 0.01)
X2 = seq(min(set[, 2]) - 1, max(set[, 2]) + 1, by = 0.01)
grid_set = expand.grid(X1, X2)
colnames(grid_set) = c('Age', 'EstimatedSalary')
y_grid = knn(train = training_set[, -3], test = grid_set, cl = training_set[, 3], k = 5)
plot(set[, -3],
     main = 'K-NN (Training set)',
     xlab = 'Age', ylab = 'Estimated Salary',
     xlim = range(X1), ylim = range(X2))
contour(X1, X2, matrix(as.numeric(y_grid), length(X1), length(X2)), add = TRUE)
points(grid_set, pch = '.', col = ifelse(y_grid == 1, 'springgreen3', 'tomato'))
points(set, pch = 21, bg = ifelse(set[, 3] == 1, 'green4', 'red3'))

ERROR: Error in library(ElemStatLearn): there is no package called ‘ElemStatLearn’

In [13]:

# Visualising the Test set results
library(ElemStatLearn)
set = test_set
X1 = seq(min(set[, 1]) - 1, max(set[, 1]) + 1, by = 0.01)
X2 = seq(min(set[, 2]) - 1, max(set[, 2]) + 1, by = 0.01)
grid_set = expand.grid(X1, X2)
colnames(grid_set) = c('Age', 'EstimatedSalary')
y_grid = knn(train = training_set[, -3], test = grid_set, cl = training_set[, 3], k = 5)
plot(set[, -3],
     main = 'K-NN (Test set)',
     xlab = 'Age', ylab = 'Estimated Salary',
     xlim = range(X1), ylim = range(X2))
contour(X1, X2, matrix(as.numeric(y_grid), length(X1), length(X2)), add = TRUE)
points(grid_set, pch = '.', col = ifelse(y_grid == 1, 'springgreen3', 'tomato'))
points(set, pch = 21, bg = ifelse(set[, 3] == 1, 'green4', 'red3'))

ERROR: Error in library(ElemStatLearn): there is no package called ‘ElemStatLearn’